<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3>
      <b><%= listing.title %> </b>
    </h3>
  </div>
  <div class="card mt-3 col-6 offset-3 showcard">
    <img src="<%= listing.image %>" class="card-img-top" alt="Listing_image" />
    <div class="card-body">
      <p class="card-text">
        <br />
        <%= listing.description %> <br />
        <b>Price:</b> &#8377;<%= listing.price.toLocaleString("en-IN") %> /
        night <br />
        <b>Location:</b> <%= listing.location %> <br />
        <b>Country:</b> <%= listing.country %> <br />
      </p>
    </div>
  </div>

  <div class="btns">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-dark col-1 offset-3 add-btn"
      >Edit</a
    ><br />
    <br />
    <a href="/listings" class="btn btn-dark add-btn">Back to all listings</a>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
</div>
